/*

# Front-end Style Guide

- Mobile: 375px
- Desktop: 1440px

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

- Blue: hsl(248, 32%, 49%)

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

- Font size: 16px

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700

*/

/*********************
    GENERAL STYLES
*********************/

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************
    TEXT AREA
*********************/

/*********************
    FORM AREA
*********************/


/*********************
    FOOTER
*********************/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*********************
    MEDIA QUERIES
*********************/