/*

# Front-end Style Guide

- Mobile: 375px
- Desktop: 1440px

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

- Blue: hsl(248, 32%, 49%)

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

- Font size: 16px

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700

*/

/*********************
    GENERAL STYLES
*********************/

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url(../images/bg-intro-desktop.png) hsl(0, 100%, 74%);
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    grid-template-areas: 
        "content"
        "footer";
    min-height: 100vh;
    
}

.content {
    grid-area: content;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*********************
    TEXT COPY AREA
*********************/


.text-copy {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding-right: 25px;
}

.text-copy h1 {
    font-weight: 700;
    font-size: 3em;
    line-height: 1.2;
}

.text-copy p {
    font-weight: 600;
}

/*********************
    SIGNUP AREA
*********************/
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding-left: 25px;
}

.pricing {
    background-color: hsl(248, 32%, 49%);
    color: #ffffff;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 0 15px;
}

.pricing span {
    font-weight: 600;
}

.form {
    background-color: #ffffff;
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form label {
    display: none;
}

.form input {
    width: 90%;
    margin: 15px;
    height: 40px;
    padding: 5px;
    font-size: 1em;
}

.form #submit {
    background-color: hsl(154, 59%, 51%);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    align-self: center;
    text-transform: uppercase;    
    box-shadow: 0 5px hsl(154, 59%, 46%);
    padding: 25px 0 35px 0;
    font-weight: 600;
    width: 93%;
}

.form .terms {
    font-size: .5em;
    text-align: center;
    font-weight: 300;
}

.form .terms a {
    color: hsl(0, 100%, 74%) ;
    font-weight: 600;
}




/*********************
    FOOTER
*********************/
footer {
    grid-area: footer;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*********************
    MEDIA QUERIES
*********************/

@media (max-width: 1250px) {
    .text-copy {
        width: 400px;
    }

    .signup {
        width: 400px;
    }
}

@media (max-width: 768px) {
    body {
        background: url(../images/bg-intro-mobile.png) hsl(0, 100%, 74%);
    }
    
}